[class*="blur-blobs"] {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		inset-block: var(--inset-block, 0);

		margin-block: auto;

		border-radius: 100%;

		filter: blur(10rem);
		opacity: 0.4;

		height: 40rem;
		width: 20rem;
		transform: translateX(var(--translateX, 50%))
			translateY(var(--translateY, 0));

		background-color: var(--clr-brand-aquamarine);
	}
}

.blur-blobs {
	&--right::before {
		right: 0;
	}

	&--left::before {
		left: 0;
		--translateX: -50%;
	}

	&--bottom-right::before {
		--inset-block: 100% 0;
		right: 0;
	}

	&--top-right::before {
		--inset-block: auto 100%;
		--translateY: -75%;
		right: 0;

		height: 20rem;
	}
}
