.brands {
	display: grid;
	place-content: center;

	border-top-left-radius: var(--rounded-xl);
	border-bottom-right-radius: var(--rounded-xl);

	width: 20rem;
	height: 4rem;

	background-color: hsl(var(--clr-brand-aquamarine-hsl) / 0.125);
}
