.main {
	display: grid;
	gap: var(--space-gap);
}

.title {
	margin: auto;

	font-style: italic;
	font-weight: 700;
	font-size: var(--font-size-flued-500);
}

.socorro {
	background-image: "aguarde blur.svg";
}