.button {
	padding: 0.75rem 1.75rem;
	background-color: var(--clr-brand-pumpkin);

	clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);

	color: var(--clr-surface-100);

	font-weight: 700;
	font-size: 1.125rem;
}
