.video {
	position: relative;
	width: Min(55rem - 3rem, 50rem);
	width: 40rem;
	margin-bottom: var(--offset_, 1rem);

	&::before {
		content: "";
		position: absolute;
		inset: 0;

		transform: translate(var(--offset_, 1rem), var(--offset_, 1rem));

		border: 3px solid var(--clr-before_, var(--clr-brand-pumpkin));
		z-index: -1;
	}

	> img {
		width: 100%;
		aspect-ratio: var(--ratio-widescreen);
		object-fit: cover;
		object-position: center;
	}
}
