@use "../../../../Styles/Abstracts/" as *;

.footer {
	display: grid;
	place-content: center;
	gap: 5rem;

	@include media(lg) {
		grid-template-columns: repeat(2, 1fr);
	}
}

.wrapper {
	display: grid;
	place-items: center;
	gap: 2rem;

	max-width: calc(100% - 8rem);

	user-select: none;

	&::before {
		content: "";

		grid-row: 3/3;

		width: 5rem;
		height: 4px;

		background-color: hsl(var(--clr-brand-aquamarine-hsl) / 0.125);
	}

	&__text {
		width: Min(35ch, 100vw - 2rem);

		color: var(--clr-brand-pumpkin);

		text-align: center;

		font-style: italic;
		font-size: 1.25rem;
		font-weight: 700;
	}
}

.form {
	position: relative;

	display: grid;
	grid-auto-rows: min-content;
	align-content: center;
	justify-items: center;
	gap: 2rem;

	margin: auto;

	width: Min(30rem, 100vw - 4rem);
	aspect-ratio: 1;
	// height: 30rem;

	border: 2px solid var(--clr-text-100);

	&__select,
	&__input {
		width: calc(100% - 8rem);

		border: 0;
		padding-block: 1rem;
		padding-inline: 1rem 1.5rem;

		background-color: hsl(var(--clr-brand-aquamarine-hsl) / 0.125);

		&::placeholder {
			transform: translateY(1px);
		}
	}

	&__button {
		position: absolute;
		bottom: 0;
		transform: translateY(50%);
	}
}

.social {
	grid-column: 1/-1;

	display: grid;
	place-items: center;
	gap: 1rem;

	padding-block: 2rem;

	user-select: none;

	&__links {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}

	&::before {
		content: "";

		grid-row: 2/2;

		width: 16rem;
		height: 2px;

		background-color: var(--clr-brand-aquamarine);
	}
}

// W w
