.button {
<<<<<<< HEAD
	padding: 0.75rem 4.50rem;
	background-color: var(--clr-brand-pumpkin);
	// margin-right: 9rem;
	// margin-top: 2rem;
=======
	padding: 0.75rem 1.75rem;
	background-color: var(--clr-brand-pumpkin);
	margin-right: 14rem;
	margin-top: 3rem;
>>>>>>> 12911c3c34f7c707741d6d99a758735855eddc2d
	width: fit-content;
	height: fit-content;

	color: var(--clr-surface-100);

<<<<<<< HEAD
	font-weight: 900;
	font-size: large;
=======
	font-weight: 700;
	font-size: x-large;
>>>>>>> 12911c3c34f7c707741d6d99a758735855eddc2d
	font-style: italic;
	--clip-size: 0.75rem;

	clip-path: polygon(
		var(--clip-size) 0%,
		100% 0,
		calc(100% - var(--clip-size)) 100%,
		0% 100%
	);

	transition-property: color, background-color;
	transition-duration: 200ms;
	transition-timing-function: ease-out;

	&:hover,
	&:focus,
	&:focus-within,
	&:focus-visible {
		background-color: var(--clr-brand-aquamarine);
	}
}
