.button {
	padding: 0.75rem 1.75rem;
	background-color: var(--clr-brand-pumpkin);

	width: fit-content;

	color: var(--clr-surface-100);

	font-weight: 700;
	font-size: 1.125rem;

	--clip-size: 0.75rem;

	clip-path: polygon(
		var(--clip-size) 0%,
		100% 0,
		calc(100% - var(--clip-size)) 100%,
		0% 100%
	);
}
