@use "../../../../Styles/Abstracts/" as *;

.main {
  --title-size: 2rem;

  display: grid;
  justify-items: space-around;
  height: max-content;
  display: grid;
  gap: var(--space-between);
  background-color: var(--clr-surface-100);
  color: var(--clr-text-100);
  font-family: Rubik,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
  isolation: isolate;
  zoom: 80%;
  overflow: hidden;
  isolation: isolate;
}

.photoSection {
  --offset_: 1rem;

  position: relative;

  display: grid;
  place-items: center;
  justify-content: space-evenly;
  gap: 7rem;

  overflow: hidden;
  width: 100%;

// <<<<<<< HEAD
 

  &__title {
    margin-inline: auto;

    width: Min(29ch, 100vw - 2rem);
    justify-content: space-evenly;

    text-align: center;

    font-style: italic;
    font-size: var(--title-size);
    font-weight: 700;

    > span {
      display: inline-grid;
      grid-template-rows: 1fr auto;
      color: var(--clr-brand-pumpkin);

      &::after {
        content: "";
        height: 3px;
        background-color: currentColor;
      }
    }
  }


  &__image {
    position: relative;
    width: Min(100vw - 3rem, 50rem);
    justify-content: space-evenly;
    &::before {
      content: "";
      position: absolute;
      inset: 0;

      transform: translate(var(--offset_), var(--offset_));

      border: 3px solid var(--clr-brand-pumpkin);
      z-index: -1;
    }

    > img {
      width: 100%;
      aspect-ratio: var(--ratio-widescreen);
      object-fit: cover;
      object-position: center;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;   
     flex-wrap: wrap;
    gap: 5rem;

    margin-inline: auto;

    width: Min(100%, 100vw - 4rem);
  }

// <<<<<<< HEAD
  
  &__button {
    padding: 0.75rem 4.50rem;
    background-color: var(--clr-brand-pumpkin);
    margin-right: 2rem;
    margin-top: 2rem;
    width: fit-content;
    height: fit-content;
    justify-content: space-evenly;
    color: var(--clr-surface-100);
  
    font-weight: 900;
    font-size: large;
    font-style: italic;
    --clip-size: 0.75rem;
  
    clip-path: polygon(
      var(--clip-size) 0%,
      100% 0,
      calc(100% - var(--clip-size)) 100%,
      0% 100%
    );
  
    transition-property: color, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  
    &:hover,
    &:focus,
    &:focus-within,
    &:focus-visible {
      background-color: var(--clr-brand-aquamarine);
    }
// =======
//   &__list,
//   &__button {
//     margin-top: var(--offset_);
// >>>>>>> 12911c3c34f7c707741d6d99a758735855eddc2d
  }
}

.classesSection {
  display: grid;
  place-content: center;
  gap: 3rem;
  justify-content: space-evenly;
  width: 100%;
 
  margin-top: 7rem;

  &__header {
    margin-bottom: 5rem;
// <<<<<<< HEAD
    margin-inline: auto;
width: min(23ch,100vw - 2rem);
text-align: center;
font-size: var(--title-size);
font-weight: 700;
font-style: italic;



  }

  &__title {
    display: grid;

    text-align: center;

    font-style: italic;
    font-weight: 700;
    font-size: var(--font-size-flued-400);

    @include media(sm) {
      font-size: var(--font-size-flued-500);
      float: none;
    }

    > span {
      color: var(--clr-brand-pumpkin);
    }
  }
}

.teacherSection {
  display: grid;
  place-content: center;
  gap: 3rem;
  justify-content: space-evenly;
  margin-block: 3.5rem;
  padding-block: 3.5rem;

  width: 100%;

  overflow: hidden;

  background-image: url("/assets/background/bg-base.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    margin-inline: auto;

    width: Min(23ch, 100vw - 2rem);


    text-align: center;

    font-size: var(--title-size);
    font-weight: 700;
    font-style: italic;
  }

  &__list {
    display: flex;
    flex-wrap: wrap-reverse;

    gap: 3rem;
    transition: transform 0.5s;
    justify-content: center;
    align-items: center;
  }
}

.brandSection {
  display: grid;
  place-items: center;
  gap: 3.5rem;

  padding-block: 7rem;

  &__title {
    font-style: italic;
    font-weight: 700;
    font-size: var(--title-size);
    width: min(23ch,100vw - 2rem);
    text-align: center;


  }

  &__brands {
    display: grid;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem 1rem;
  }
}

@media (sm){
  body {
    display: grid;
    justify-content: space-around;
  }
}
